<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703050604914-orscdruufphmp9m1g5666f4cs6u9vnrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703050604914-orscdruufphmp9m1g5666f4cs6u9vnrj</string>
	<key>API_KEY</key>
	<string>AIzaSyBHGoYrmRFlWeGTuW8KiHJ9JTKjCgvRx3o</string>
	<key>GCM_SENDER_ID</key>
	<string>703050604914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankingApp</string>
	<key>PROJECT_ID</key>
	<string>banking-app-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>banking-app-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703050604914:ios:18f0e7a39fce09b0e07deb</string>
</dict>
</plist>